h1,h2,h3,h4,h5,h6 {
  font-family: "Merriweather";
}

p {
  font-family: "Poppins";
  font-size: 16px;
  color: #383838;
  font-weight: 400;
  line-height: 150%;
  max-width: 700px;
}




h1 {
  font-weight: 500;
  font-size: 48px;
  color: #0a0a0a;
  align-items: center;
  /* padding-bottom: 240px; */
}
@media screen and (max-width: 768px){
  h1{
    font-size: 36px;
    align-items: center;
    /* padding-bottom: 240px; */
}
}


h2 {
  font-weight: 500;
  font-size: 39px;
  color: #0a0a0a;
}
/* @media (max-w) */
@media screen and (max-width: 768px){
  h2{
    font-size: 28px;
    align-items: center;
    margin-bottom: 0px;
}
}


h3 {
  font-weight: 500;
  font-size: 31px;
  color: #0a0a0a;
}
@media screen and (max-width: 768px){
  h3{
    font-size: 24px;
}
}
h4 {
  font-weight: 300;
  font-size: 25px;
  color: #b0b0b0;
 }



  .header-nok {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding-right: 80px;
  background-image: url(../images/noddyheader.png);
  height: 690px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
}
.header-nok, a{
  padding-top: 32px;
}
.menu{
  font-family: "Poppins";
  margin-right: 80px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin-top: 360px;
  position: relative;
}
.menu:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  color: white;
  background: #e0ff4f;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.menu:hover:after{
  width: 100%;
  left: 0;
  background: #e0ff4f;
}
#my-logo a{
  padding: 100px;
  color: #fff;
  margin-left: 80px;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 18px;
  padding-left: 80px;
}

.topnav-right a{
  font-family: "Poppins";
  margin-right: 80px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin-top: 360px;
}
 
  h1 {
  max-width: 100%;
  padding-top: 140px; 
  color: white;
  text-align: center;
  /* margin: auto; */

   margin-top: -500px; 
  /* z-index: 10; */
  padding-bottom: 240px;
} 
/* @media screen and (max-width: 524px){
  h1 {
    padding-bottom: 150px;
    margin-bottom: 0px;
    font-size: 52px;
  }
} */


body {
  
  margin: 0;
  margin-top: 0px;
  /* display: flex; */
  /* justify-content: space-between; */
  width: 100%;
}


.nok-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c7c7c7;
  align-items: center;
  /* padding-left: 40px;
  padding-right: 40px; */
  /* margin-left: 160px;
  margin-right: 160px; */
}
.about{
  display: flex;
  flex-direction: column;
  /* max-width: 1024px; */
  padding-top: 48px;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
   position: relative; 
   padding-bottom: 40px;
  /* text-align: left; */
  justify-content: center;
}


/* @media screen and (max-width: 620px){
  container{
    margin-top: 0px;
    padding-bottom: 40px;
    justify-content; center;

  
} */
.about h2{
  text-align: center;
  padding-bottom: 24px;
}
@media screen and (max-width:768px){
  .nok-about h3{
    font-size: 24px;
  }
}

.latest {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* @media screen and (max-width: 620px) {
  .latest a{
   display: inline-block; 
   width: 36%; 
    align-content: top;

  }
} */

@media screen and (max-width: 620px){
  .latest{
    flex-direction: column;
    padding-top: 24px;
  }
}

.current{
  display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding-bottom: 0px; 
   padding-top: 0px;
   justify-content: center; 
   width: 500px; 
}
.latest img{
 width: 80%;
 height: auto;
  padding-left: 0px;
  padding-right: 20px;
  align-items: center;
  /* margin: auto; */
  /* margin-top: 8px; */
}

.latest p{
  padding-top: 20px;
  /* margin: auto; */
 
}
.new {
  display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: space-evenly; 
   padding-bottom: 0px; 
   padding-top: 28px; 
   align-items: center;
   width: 500px;  
}
.new img{ 
  width: 80%;
  height: auto;
  padding-left: 16px; 
  padding-right: 0px;
}
@media screen and (max-width: 620px){
  .new img{
    margin-top: 0px;
    display: flex-end;
  }
}
.new p{
  /* padding-top: px; */
  padding-bottom: 0px;
}

.git {
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border:  #e0ff4f 1px solid;
  border-radius: 6px;
  width: 140px;
  height: 30px;
}
.git {
  margin-left: 600px;
  position: relative; 
  margin: auto;
  margin-top: 0px;
  max-width: 250px;
  /* display: block; */
}
@media screen and (max-width:620px){
  .git {
    /* flex-direction: column; */
    margin-bottom: 4px;
    margin-top: 0px;
    display: inline-block;
  }
  }


.view {
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border:  #e0ff4f 1px solid;
  border-radius: 6px;
  /* width: 140px; */
  height: 30px;
}
.view {
  margin-left: 600px;
  position: relative; 
  margin: auto;
  margin-top: 0px;
  /* width:250px;  */
}
.codewebsite a{
  display: inline-block;
  width: auto;
}

/* .view, .git a{
  display: inline;
  padding: 4px 16px;
  /* min-width: 140px; */
 
/* @media screen and (max-width: 620px){
  .view .git a{
    margin-top: 0px;
    display: inline-block;
    
  }
} */
/* @media screen and (max-width:768px){
  .codewebsite{
    /* display: inline-block; */
  



.initial{
  display: flex;
  padding-top: 48px;
  padding-bottom: 36px;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: center;
  text-align: left;
}
@media screen and (max-width:768px){
  .initial p{
    padding-bottom: 0px;
  }
}

.techs {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 80px;
  padding-top: 36px;
 } 
 @media screen and (max-width:768px){
  .techs {
    padding-top: 0px;
  }
}

 @media screen and (max-width:768px){
   .techs h3{
     font-size: 20px;
     padding-left: 24px;
     padding-right: 24px;
     max-width: 250px;
   }
 }
.tech .tools ul{
  width: 40%;
  list-style: none;
  
}
li {
  color: #383838;
}
.design-process{
  display: flex;
  flex-direction: column;
  background-color: #808080;
  padding-top: 80px;
  text-align: center;
  }

@media screen and (max-width:768px){
  .design-process{
  padding-left: 0px;
  padding-right: 0px; 
}
}
.pro{
  display: flex;
  padding-top: 24px;
  padding-bottom: 40px;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: center;
  text-align: left;
}
  /* display: flex;
  justify-content: center;
  margin: auto;
   text-align: left;
   padding-top: 20px;
   margin-bottom: 40px;
   padding-left: 0px;
 */

@media screen and  (max-width:768px){
  .design-process h2{
    font-size: 31px;
  }
}
.design-process h2 {
  color: #0a0a0a;
}
@media screen and  (max-width:768px){
  .design-process p{
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
/* .design {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
} */
.des{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: auto;
}



.design img{
  width: 80%;
  height: auto;
  margin: auto;
  /* border: 4px white solid; */
  margin-right: 8px;
  margin-left: 8px;
}

@media screen and (max-width:768px){
  .design img{ 
    width: 80%;
    justify-content:center;
    align-items: center;
    margin: auto;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}
}

 .after{
   display: flex;
   justify-content: center;
   align-items: center;
 }
  .after p{
    display: flex;
    padding-top: 48px;
    padding-bottom: 40px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    text-align: left;
  }
  @media screen and (max-width:768px){
    .after p{ 
      padding-top: 36px; 
      padding-bottom: 32px;
      padding-left: 60px; 
      padding-right: 60px;
    }
  }
/* .after {
  display: flex;
  margin: auto;
  width: 720px;
  height: auto;
  padding: 0px;
  padding: 80px 0px;
  text-align: left; 
} */


.its  {
  display: flex;
  width: 70%;
  height: auto;
  justify-content: center;
   align-items: center; 
   flex-direction: column;
   margin: auto; 
    text-align: center; 
}
 .its, img, col{ 
  width:50%;
  display: flex;
  align-items: center;
  
} 

.its img{
  width: 80%;
  align-items: center;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (max-width: 1280px){
  .its, col, img{
    width: 56%;
  }
}


@media screen and (max-width:960px){
  .its, col, img{
    width: 80%;
  }
}
@media screen and (max-width:768px){
  .its, col,  img{
    width: 100%;
    margin: auto;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.its p{
  margin: auto;
  text-align: center;
  padding: 0px;
  align-items: center;
  padding-bottom: 16px;
  
}
.col p{
  display: block;
  text-align: center;
}
  /* margin-top: 40px;
  text-align: center;
  padding-bottom: 40px; */




.wire {
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border:  #e0ff4f 1px solid;
  border-radius: 6px;
  width: 140px;
  height: 30px;
}

.iterations{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.iterations img{
  width: 50%;
  height: auto;
  /* border: 4px black solid; */
  margin-bottom: 40px;
  margin: auto;
  /* text-align: left; */
}

.web {
  width: 60%;
  margin: auto;
  padding-top: 60px;
}

.web {
  margin-top: 60px;
  padding-bottom: 16px;
}
@media screen and (max-width: 768px){
  .web{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
  
}
}
.final {
  margin-bottom: 80px;
}
.final a{
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border:  #e0ff4f 1px solid;
  border-radius: 6px;
  width: 140px;
  height: 30px;
  margin-bottom: 140px; 
  }

 
 

footer { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7)
}
footer img {
  width: 50px;
  margin-left: 48px; 
  margin-right: 48px;
  margin-top: 60px; 
  margin-bottom: 60px;
}
@media screen and (max-width: 768px){
  footer img{
    max-width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }
}

/* .website {
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border:  #e0ff4f 1px solid;
  border-radius: 6px;
  width: 140px;
  height: 30px;
} */
/* .current-new {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  padding-bottom: 0px;
  text-align: center;
} */
/* .current-new img{
  align-items: f;
} */
/* .current-new p{
  margin-top: 16px;
} */

/* .nok-home-container {
  display: flex;
  flex-direction: row;
  width: 40%;
  background-color: #555585;
 } */
/* 
.nok-hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-image: url("")
}
.nok-hero img { */

 

/* .nok-home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
  width: 50%;
} */
/* .nok-hero-still {
  background-image: url(../images/NOKStillBowl.jpg);
}
.nok-hero-sub {
  background-image: url(../images/subterfuge_3.jpg);
}
.nok-hero-indian {
  background-image: url(../images/indian_6.jpg);
}
.nok-hero-heavenly {
  background-image: url(../images/Heavenly3.jpg);
} */


 

  
