h1,h2,h3,h4,h5,h6 {
  font-family: "Merriweather";
}

p {
  font-family: poppins;
  font-size: 16px;
  color: #383838;
  font-weight: 300;
  width: 80%;
}

 h1 {
  font-weight: 500;
  font-size: 48px;
  color: #b0b0b0;
}
  @media screen and (max-width: 768px){
  h1 {
    font-size: 31px;
    text-align: center;
    width: 200%;
  }
} 

 @media screen and (max-width: 960px){
   h1 {
     font-size: 39px;
     width: 100%;
   }
 }    

h2 {
  font-weight: 500;
  font-size: 39px;
  color: #0a0a0a;
}
 
@media screen and (max-width:960px){
  h2{
    font-size: 25px;
    width: 100%;
  }
  } 

h3 {
  font-weight: 500;
  font-size: 31px;
  color: #0a0a0a;
}
h4 {
  font-weight: 400;
  font-size: 20px;
  color: #0a0a0a;
}



.header-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.70); 
  padding-top: 32px;
  
}
/* .my-logo img{
  margin-left: 80px;
  z-index: 5;
  
  cursor: pointer;
   display: inline;
   
} */
#my-logo a{
  color: #fff;
  margin-left: 80px;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 18px;
  padding-left: 80px;
}
/* .header-home{
  padding-right: 80px;
} */
.topnav-right, a{
  justify-content: end;  
  font-family: "Poppins";
  margin-right: 80px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  
}

 /* .topnav-right a :hover{
  color: #e0ff4f;
}  */
.landing{
  position: relative;
}
/* .header-home{
  position: absolute;
} */

/* .hamburger-icon {
  width: 60px;
  padding: 10px;
  margin-right: 48px;
  display: none;
} */
body {
  margin: 0;
  margin-top: 0px;
  /* display: flex; */
  /* justify-content: space-between; */
  width: 100%;
  
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
@media screen and (max-width:768px){
  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
   }
}
@media screen and (min-width: 960px){
  .home{
    flex-direction: row;
  }
}


@media screen and (min-width: px){
  .hero-image{
    width: 100%;
  }
}


 

.hero-image {
  padding-left: 100px;
  width: 80%; 
  margin-right: 220px; 
 height: auto;
 margin-bottom: -84px;
 padding-bottom: 6px;
 margin-left: 50px;
 z-index: -1; 
 position: relative;
 flex-direction: row-reverse;
 
}
@media screen and (max-width: 768px){
  .hero-image{
   width: 64%;
   height: auto;
   margin: auto;
   padding-left: 50px;
 }
}


 img{
  width: 80%;
  height: auto;
   margin-top: 120px; 
  margin-right: 140px;
  padding-bottom: 80px; 
}  
  

/* .landing{ 
  height: 90%vh;
} */

/* .hero-container{
  width: 100%;
  display: flex;
   align-items: center; 
  justify-content: space-evenly;
}
.home .hero-container{
  height: 90% vh;
} */

/* @ media screen and (max-width: 1170px){
  .hero-container{}
} */






/* .hero-image {
width: 100%;
margin-top: 80px; */

/* 

@media screen and (max-width:1008px){
  .hero-container img {
    width: 100%;
    
  }
} */
/* @media screen and (max-width: 768px){
  .hero-container img {
    max-width: 50%;
    margin: auto;
  }
}
@media screen and (max-width: 960px){
  .hero-container img {
    width: 100%;
  }
}
@media screen and (max-width: 768px){
  .hero-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
} */




/* @media screen and (max-width: 768px){
  .her0-container-2 img, h1, h4{
    flex-direction: row;
  }
} */

/* @media screen and (max-width:1400px){
  .hero-text h2{
   font-size: 48px;
  }
}  */
/* @media screen and (max-width:1295px){
  .hero-text h4{
   font-size: 22px;
  }
} */


 /* @media screen and (max-width:1295px){
   .hero-text h2{
    font-size: 48px;
    width: 150%;
   }
 }  */

/* @media screen and (max-width:1115px){
  .hero-text h4{
   font-size: 20px;
   width: 150%;
  }
}  */


 /* @media screen and (max-width: 1115px){
  .hero-text h2{
    font-size: 36px;
    width: 180%
  }
} */
/* @media screen and (max-width:968px){
  .hero-text h4{
   font-size: 16px;
   padding-bottom: 10px;
   width: 150%;
  }
}  */

 /* @media screen and (max-width:968px){
  .hero-text h2{
    font-size: 31px;
    width: 200%;
  }
} */
/* @media screen and (max-width:650px){
  .hero-text h4{
    font-size: 16px;
    width: 150%;
  }
} */
/* @media screen and (max-width:650px){
  .hero-text h2{
    font-size: 22px;
    width: 80%;
  }
} */
/* .hero-text {
 
 
  align-items: center;
  justify-content: center;
} */
.hero-text  {
  display: flex;
  flex-direction: column;
  padding-left: 1fr;
  z-index: 10;
  padding-top: 100px;
  text-align: left;
  width: 120%;
  padding-left: 220px;
  /* display: inline-block; */
}

@media screen and (max-width:768px){
  .hero-text {
    /* padding-left: 100px; */
    align-items: center;
    text-align: center;
    margin: auto;
     width: 80%; 
    padding-left: 0px;
    padding-right: 0px;
   }
}
@media screen and (max-width:768px){
  .hero-text  h4{
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    margin-bottom: -120px;
}
}
@media screen and (max-width:768px){
  .hero-text  h1{
    width: 96%;
   padding-top: 360px;
  }
}



.home {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
}
@media screen and (max-width:768px){
  .home{
    height: 92vh;
    padding-bottom: 40px;
  }
}

.what h2{
  width: 100%;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-left: 220px;
  /* text-align: left; */
  background-color: #777b7c;
}
@media screen and (max-width:768px){
  .what h2 {
    padding: 40px 60px 40px 60px; 
    text-align: center;
    font-size: 25px;
  }
}
.newest{
  display: flex;
  justify-content: flex-start;
  justify-content: space-evenly;
  background-color: #777b7c;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (max-width:768px){
.newest {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #777b7c;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  
}
}
.newest p, h4{
  color: white;
  width: 60%;
}
.newest p{
  font-size: 14px;
  text-align: top;
  margin: 0;
}
.newest img{
  display: flex;
}



.initial {
  margin: auto;
}
/* .new-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: #666;
  text-align: center;
} */

 /* .new h1{
   max-width: 80%;
   } */
/* .newest{
  display: flex;
  justify-content: flex-start;
  justify-content: space-evenly;
  background-color: #777b7c;
  padding-top: 20px
} */
 .current {
  display: flex;
  color: white; 
  width: 250px;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  text-align: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  
} 
.current p{
  width: 60%;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.current h4{ 
  font-size: 20px;
  
}
.relearn {
  display: flex;
  justify-content: flex-start;
  justify-content: space-evenly;
  margin-top: 0px;
  height: 260px;
  background-color: #777b7c;
  padding-left: 20px;
  padding-right: 20px;
}
.current img{
  flex-direction: row;
}

  
.web {
  background-image: url(../images/code.png);
  /* background-size: cover;
  background-repeat: no-repeat;  */
}
.ux {
  background-image: url(../images/priscilla\ img.jpeg);
   /* background-size: cover;
   background-repeat: no-repeat;  */
}
.read {
  background-image: url(../images/reading.jpeg);
  /* background-size: cover;
  background-repeat: no-repeat;  */
}
.learn {
  background-color: #333;

} 

 
/* @media screen and (max-width:860px){
  .nok {
    flex-direction: row;
} 
} */

.nok {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(124,124,124,0.65);
  }
  @media screen and (max-width:768px){
  .nok {
    padding-bottom: -160px;
    padding-top: 40px;
    padding-left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
}
@media screen and (max-width:768px){
  .nok img{
    width: 100%;
    margin: auto;
    padding-top: 40px;
  }
}
@media screen and (max-width:768px){
  .nok p{
    width: 60%;
    margin: auto;
    padding-top: 16px;
    padding-left: 0px;
    padding-bottom: 16px;  
  }
}
.nok-text {
  margin: auto;
  padding-top: 0px;
  width: 100%;
}
@media screen and (min-width: 768px){
  .nok-text{
    margin-left: 100px;
    width: 100%;
   }
}
@media screen and (min-width:980px){
  .nok-text{
    margin-left: 220px;
  }
}

.nok-img{
  width: 60%;
  height: auto;
  margin: auto;
 }
 @media screen and (max-width:768px){
  .nok-img  {
    margin-left: 0px;
    padding-left: 24px;
    margin-right: 60px;
    width: 40%; 
    margin: auto;
  }
}

.nok-read {
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border:  #e0ff4f 1px solid;
  border-radius: 6px;
  width: 140px;
  height: 30px;
}

@media screen and (max-width:768px){
  .nok-read{
    margin: auto;
}
}
/* Stop here */
.lac {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(124,124,124,0.45);
  }
  @media screen and (max-width:768px){
  .lac {
    padding-bottom: -160px;
    padding-top: 40px;
    padding-left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
}
@media screen and (max-width:768px){
.lac img{
  width: 120%;
  padding-top: 40px;
  margin: auto;
 }
}
  
@media screen and (max-width:768px){
  .lac p{
    width: 60%;
    margin: auto;
    padding-top: 16px;
    padding-left: 0px;
    padding-bottom: 16px;
  }
}

.lac-text {
  margin: auto;
  padding-top: 0px;
  width: 100%;
}
@media screen and (min-width:768px){
  .lac-text{
    margin-left: 100px;
    width: 100%;
  }
}
@media screen and (min-width:980px){
  .lac-text {
    margin-left: 220px;
  }
}
.lac-img{
  width: 100%;
  height: auto;
  margin: auto;
}
@media screen and (max-width:768px){
.lac-img {
  margin-left: 0px;
    padding-left: px;
    margin-right: 60px;
    width: 48%; 
    margin: auto;
}
}

.lac-read {
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border:  #e0ff4f 1px solid;
  border-radius: 6px;
  width: 140px;
  height: 30px;
}
@media screen and (max-width:768px){
  .lac-read{
    margin: auto;
  }
}



.dan {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1d1d1;
  }
  @media screen and (max-width: 768px){
    .dan {
      padding-bottom: -160px;
      padding-top: 40px;
      padding-left: 0px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: auto;
    }
  }
   @media screen and (max-width:768px){
    .dan img {
      width: 64%;
      margin: auto;
      padding-top: 40px;
    }
  }  
  @media screen and (max-width:768px){
    .dan p{
      width: 60%;
      margin: auto;
      padding-top: 16px;
      padding-left: 0px;
      padding-bottom: 16px;
    }
  }

.dan-text {
  margin: auto;
  padding-top: 0px;
  width: 100%;
}
@media screen and (min-width: 768px){
  .dan-text{
    margin-left: 100px;
    width: 100%;
  }
}

@media screen and (min-width: 980px){
.dan-text {
 margin-left: 220px;
} 
}
 .dan-img{
  width: 80%;
  height: auto;
  margin: auto;
  } 

 @media screen and (max-width:768px){
   .dan-img {
     margin-left: 0px;
     margin: auto;
     padding-right: 80px;
     padding-left: 80px;
     margin-right: 0px;
     width: 100%;
   }
 }
 

.dan-read {
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border:  #e0ff4f 1px solid;
  border-radius: 6px;
  width: 120px;
  height: 30px;
}

@media screen and (max-width:768px){
  .dan-read{
    margin: auto;
  }
}
   /* img{
   width: 80%;
   height: auto;
    margin-top: 120px; 
   margin-right: 140px;
   padding-bottom: 80px; 
}    */





.uts {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b0b0b0;
  }
@media screen and (max-width:768px){
  .uts {
    padding-bottom: -160px;
    padding-top: 40px;
    padding-left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
}
.utsimg{
  width: 72%;
  height: auto;
  margin: auto;
}
@media screen and (max-width: 768px){
  .utsimg img{
    margin-left: 0px;
    margin: auto;
    padding-right: 80px;
    padding-left: 80px;
    margin-right: 0px;
    width: 100%;
 }
}

@media screen and (max-width:768px){
  .uts p{
    width: 60%;
    margin: auto;
    padding-top: 16px;
    padding-left: 0px;
    padding-bottom: 16px;
  }
}

.uts-text {
  margin: auto;
  padding-top: 0px;
  width: 100%;
}
@media screen and (min-width:768px){
  .uts-text{
    margin-left: 100px;
    width: 100%;
  }
}
 @media screen and (min-width:980px){
   .uts-text{
     margin-left: 220px;
   }
 }

 /* .uts-img{
   width: 28%;
   height: auto;
   margin: auto;
 } */

 /* @media screen and (max-width:768px){
   .uts-img {
    margin-left: 0px;
    padding-left: 24px;
    margin-right: 60px;
    width: 10%; 
    margin: auto; 
   }
 } */

 /* img{
  width: 80%;
  height: auto;
   margin-top: 120px; 
  margin-right: 140px;
  padding-bottom: 80px; 
}  */
/* DON'T ADD THIS BACK IN  */
/* .uts-read {
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  border:  #e0ff4f 1px solid;
  border-radius: 4px;
  width: 120px;
  height: 30px;
} */
/* ADD THIS BELOW THOUGH  */

/* .uts-img, img{
  width: 60%;
  height: auto;
    padding-top: 120px;  
  margin-right: 140px;
   padding-bottom: 80px; 
} */

/* @media screen and (max-width:660px){
  .sectionuts {
     flex-wrap: wrap;
}
} */

/* .sectionuts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionuts p{
  width: 80%;
}
.sectionuts img{
  margin-top: 40px;
  margin: auto;
}

.utstextcontainer{
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 80px 40px 40px 40px ;
  margin:auto;
}
@media screen and (min-width:580px) {
  .utstextcontainer {
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (max-width:580px) {
  .utstextcontainer img{
    max-width: 25%;

  }
}
@media screen and (min-width:760px) {
  .utstextcontainer {
    margin-left: 120px;
  }
}
@media screen and (min-width:760px) {
  .utstextcontainer h1{
    font-size: 48px;
  }
}
@media screen and (min-width:760px) {
  .utstextcontainer img{
    width: 50%;
  }
}

    .utsimg{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
} */

/* 
.sectionuts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
} */




footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7)
}
footer img {
  width: 50px;
  margin-left: 48px; 
  margin-right: 48px; 
  margin-top: 60px; 
  margin-bottom: 0px;
}